//显示文章内容区域
#essay-box {
  width: 60%;
  //文章修改历史
  #essay-history {
    margin-top: 10px;
    margin-left: 10px;
    .history-version {
      margin: 3px;
      width:15px;
      height:20px;
      text-align: center;
    }
    .current-version {
      border-bottom: #666666 solid 1px;
    }
  }
  //文章修改历史
  //文章标题和内容区域
  #essay-title {
    margin-left: 10px;
  }
  #essay-content {
    padding: 10px;
    font-size: 16px;
  }
  //文章标题和内容区域

}
//显示文章内容区域
//显示评论区域
#comment-box {
  position: relative;
  width: 40%;
  .comment-content {
    margin: 10px 45px 10px 10px;
    position: absolute;
    top: 100px;
    left: 50px;
    width:auto;
    border-bottom: skyblue solid 1px;
  }
  .comment-date {
    text-align: right;
  }
}
//显示评论区域